%h1 All Current Adventures for a #{current_user.type}
%ul
  - @tasks.each do |task|
    %li
      = link_to "#{task.name}", captain_task_path(current_user, task)
- if current_user.type == 'Captain'
  %p=link_to "Create new adventure", new_captain_task_path(@captain)