#form-box
  .title-form
    %h1 Create a new adventure for your 'lil pirate
  = render 'form', :task => @task, :captain => @captain
  - if @errors
    %ul
      - @errors.each do |error|
        %li= error