%h3 Hello, #{@user.first_name}
%table.parent_admin
  %tr
    %td
      .check_status
        #text Child Status
    %td
      .add_reward
        #text Add Reward
  %tr
    %td
      .add_task
        #text Add Task
    %td
      .add_event
        #text Add Event
