%ul.button-group
  %li
    %a.small.secondary.button{:href => "#"} Overview
  %li
    %a.small.secondary.button{:href => "#"} Pirates
  %li
    %a.small.secondary.button{:href => "#"} Quests
  %li
    = link_to "Treasures", captain_treasures_path(user), :remote => true, :id => 'captain_treasure_cove', :class => 'small secondary button'
