%span
  = link_to "Overview", captain_path(user), :class => 'small secondary button'
%span
  = link_to 'Pirates', captain_pirates_path(current_user), :remote => true, :id => 'captain_pirates_cove', :class => 'small secondary button'
%span
  = link_to "Create Quest", captain_tasks_path(current_user), :remote => true, :id => 'captain_task_cove', :class => 'small secondary button'
%span
  = link_to "Treasures", captain_treasures_path(user), :remote => true, :id => 'captain_treasure_cove', :class => 'small secondary button'
