%span
  = link_to "Overview", pirate_path(user), :class => 'a small radius button'
%span
  = link_to "Quests", pirate_tasks_path(current_user), :remote => true, :id => 'pirate_task_cove', :class => 'a small radius button'
%span
  = link_to "Treasures", pirate_treasures_path(current_user), :remote => true, :id => 'pirate_treasure_cove', :class => 'a small radius button'
