%h1 New Quests!
#quest_accepted
.large-12.columns.t_and_e
  - tasks.first(Task::MAX).each do |task|
    %ul
      %li #{link_to task.name, pirate_task_path(current_user, task), :remote => true, :id => 'show_task'}
      %li #{task.worth} doubloons
      %li #{task.created_at.strftime(time_format(task))}
      .accept_prof_quest= link_to 'Accept Quest', pirate_adds_path(current_user, task), :remote => true, :class => 'tiny button success round'
