#task_verify_message
- tasks.first(Task::MAX).each do |task|
  %ul.task
    %li Name: #{link_to task.name, pirate_task_path(current_user, task), :remote => true, :id => 'show_task'}
    %li Doubloons: #{task.worth}
    %li Posted: #{task.created_at.strftime(time_format(task))}
    = link_to 'Completed?', pirate_completes_path(current_user, task), :remote => true, :class => 'tiny button alert round', :id => 'pirate_complete'
