%h1 I'm a fucking pirate!

= link_to 'Tasks!', pirate_tasks_path(@pirate)
= link_to 'Treasures!', pirate_treasures_path(@pirate)

= form_tag logout_path, :method => :post do
  = submit_tag "Logout"
-# link to items to buy