// Captain Profile Page 
.cost {
  text-align: center;
}

.treasure_item {
  height: 12em;
  width: 11em;
  margin-left: auto;
  margin-right: auto;

  a {
  text-align: center;
  display: block;
  }
} 
// there are two of these!
.box {
  height: 28em;
}

.captain_profile {
  text-align: center;
  height: 28em;

  a {
    margin-left: -18%;
  }
}

.treasure_name {
  text-align: center;
  font-weight: 700;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.5em;
}

.buy_loot {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: #333333;
    :hover{ 
      background-color: #BABABA
    }
}

// Captain Tasks Index

ul.task {
  font-family: 'Pathway Gothic One', sans-serif; 
  font-size: 1.4em;
  color: #8f8e8e;
}

.top_links {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'Pathway Gothic One', sans-serif; 
  text-align: center;
  color: #8f8e8e;
}

ul {
  list-style-type: none;
}
