.welcome {
  margin-top: 10%;
  margin-bottom: 1em;
}

.treasure_item {
  // background-color: #b5b4b4;
  margin-right: 2%;
  height: 215px;
}

.treasure_item a {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #444444;
  font-size: 1.5em;
}

.cost {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #6d6e6e;
  font-size: 1.2em;
  margin-bottom: 2%;
  margin-top: 2%;
}

.profile_main {
  // background-color: #acacac;
  padding: 1%;
  min-height: 245px; 
}

.tiny.button.alert.round {
  margin-top: 1em;
}


.new_treasure {
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

.button_group {
  width: auto;
}

.button_group li a {
  width: 230px;
  height: 40px;
  background-color: #ccc;
}

.delete_treasure {
  width: 100%;
  border: 0px;
  height: 1.5em;
  background-color: #edebeb;
  font-size: 0.8em;
}

.delete_treasure:hover {
  background-color: #dadada;
}

#mid_nav_bar {
  border-top: 3px solid #9f9f9f;
}

// Captain Profile Page 
.profile_bottom {
  min-height: 280px;
}

.profile_left {
  // background-color: #acacac;
  padding-bottom: 3%;
}

.profile_right {
    // background-color: #acacac;
    padding-bottom: 3%;
}

.welcome p {
  margin-bottom: 0;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2em;
  color: #424343;
}

.pirates_name {
  margin-right: 5%;
}

