.new_pirate input {
  background-color: #e0dfdf;
  margin-bottom: -2%;
}

.new_pirate input:focus {
  background-color: #edebeb;
}

.new_pirate label {
  font-size: 1.5em;
  font-family: 'Pathway Gothic One', sans-serif;
  font-color: #8f8e8e;
}

.new_pirate input:last-child {
  margin-top: 5%;
  width: 100%;
  height: 30px;
  border: 0;
  font-size: 1em;
  color: #e0dfdf;
  background-color: #198ac8;
}

.new_pirate input:last-child:hover {
  background-color: #1780b9;
}

