// These are in the pirate task partial and the captain pirate partials
.t_and_e {
  padding-top: 5%;
  height: 6.25em;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #6d6e6e;
  font-size: 1.5em;
}

.t_and_e a {
    font-size: 1.5em;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #444444;
  }


#add_pirate {
  font-size: 1.5em;
  color: #e0dfdf;
  font-family: 'Pathway Gothic One', sans-serif;
}

#add_pirate:hover {
  color: #fff;
}
