// These are in the pirate task partial and the captain pirate partials
.t_and_e {
  // padding-top: 5%;
  height: 5.25em;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #6d6e6e;
  font-size: 1.2em;
  margin-bottom: 1.8em;
}

.t_and_e a {
  font-size: 1.5em;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #8f8e8e;
}


.t_and_e a:hover {
  color: #9d9c9c;
}

#add_pirate {
  font-size: 1.5em;
  color: #8f8e8e;
  font-family: 'Pathway Gothic One', sans-serif;
}

#add_pirate:hover {
  color: #9d9b9b;
}
