// Partials

.ul.button-group.pirate_div {
  border: 2px solid black;
}

// Captain Profile Page 
.profile_bottom {
  min-height:180px;
  border: 2px solid black;
}

.cost {
  text-align: center;
}

.treasure_item {
  height: 12em;
  width: 11em;
  margin-left: auto;
  margin-right: auto;

  a {
  text-align: center;
  display: block;
  }
} 
// there are two of these!
.box {
  height: 28em;
}

.captain_profile {
  text-align: center;
  height: 28em;

  a {
    margin-left: -18%;
  }
}

// These are in the pirate task partial and the captain pirate partials
.t_and_e {
  height: 6.25em;
  text-align: center;
}

// Captain Tasks Index

.top_links {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

ul {
  list-style-type: none;
}