
// Captain Profile Page 
.captain_profile_treasures {
  min-height:150px;
}

.captain_profile {
  text-align: center;
  height: 335px;

  a {
    position: absolute;
    bottom: 0;
  }
}

.treasure_item {
  height: 12em;

  a {
  display:block;
  text-align:center
  }
} 

.box {
  height: 335px;
}

.captain_profile {
  text-align: center;
  height: 335px;

  a {
    margin-left: -18%;
    // can't center the effing left links...
  }
}

.t_and_e {
  height: 75px;
  text-align: center;

  a {
  }
}

// Captain Tasks Index

.top_links {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

ul {
  list-style-type: none;
}