/*html,body,img,form,textarea,input,fieldset,div,p,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code { margin: 0; padding: 0;}*/
form,textarea,input { margin: 0; padding: 0;}
/*.nav {
  width: 100%;
  height: 50px;
  position: absolute;
  color: #bada55;
}*/

.banner {
  /*NEEDS TO BE CHANGED TO PERCENTAGE*/
  height: 700px; 
  background-image: linear-gradient(bottom, #FFFFFF 0%, #A5DAF5 100%);
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #A5DAF5 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #A5DAF5 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #A5DAF5 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #A5DAF5 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #FFFFFF),
    color-stop(1, #A5DAF5)
  );
}

.banner_index {
  background-image:url('/pirate_index_dexter.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: relative;
  top: 1%;
}

.banner_index_small {
  width: 100%;
  height: 50px;
}

.break_1 {
  width: 100%;
  height: 18%;
  background: #59b5e6;
  z-index: 1;
  position: absolute;
  top: 29%;
  background-size: contain;
}

.form_errors {
  width: 100%;
  height: 100%;
}

.forms {
  background-image: linear-gradient(bottom, #273F87 2%, #007EC2 54%);
  background-image: -o-linear-gradient(bottom, #273F87 2%, #007EC2 54%);
  background-image: -moz-linear-gradient(bottom, #273F87 2%, #007EC2 54%);
  background-image: -webkit-linear-gradient(bottom, #273F87 2%, #007EC2 54%);
  background-image: -ms-linear-gradient(bottom, #273F87 2%, #007EC2 54%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.02, #273F87),
    color-stop(0.54, #007EC2)
  );
    /*height: 100%;*/
    font-family: 'Pathway Gothic One', sans-serif;
    /*color: #faaf40;*/
    /*color: #e89b36;*/
    /*letter-spacing: 15%;*/
}

.small_forms {
  /*height: 100%;*/
  font-family: 'Pathway Gothic One', sans-serif;
  /*font-size: 25px;*/
  /*color: #faaf40;*/
  color: #e89b36;
  background: #59b5e6;
  /*letter-spacing: 15%;*/
}

.index_forms {
  height: 100%;
  width: 100%;
  margin-top: 20%;
}

.underwater_index {
  background-image:url('/underwater_index.png');
  /*background-size: contain;*/
  background-repeat: no-repeat;
  background-position: center;
  height: 270px;
  width: 100%;
  z-index: 9999;
  position: relative;
  /*top: 5%;*/
}

.small_footer {
  width: 100%;
  height: 50px;
}

/*###################################*/

.login input {
  border: 0;
  /*width: 100%;*/
  height: 20%;
  /*padding: 2%;*/
  /*margin-top: 5px;*/
  /*margin-bottom: 5px;*/
  background: #fff;
  opacity:0.1;
  filter:alpha(opacity=10); /* For IE8 and earlier */
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 12px;
  /*letter-spacing: 1px;*/
  color: black;
}

.sign_up input {
  border: 0;
  /*width: 230px;
  height: 20px;
  padding: 5px;*/
/*  margin-top: 5px;
  margin-bottom: 5px;*/
 background: #fff;
   opacity:0.1;
   filter:alpha(opacity=10); /* For IE8 and earlier */
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
 color: black;
}

/*###################################*/

.login_small input {
  border: 0;
/*  width: 100%;
  height: 20%;*/
  /*padding: 2%;*/
  /*margin-top: 5px;*/
  /*margin-bottom: 5px;*/
  background: #fff;
  font-family: 'Pathway Gothic One', sans-serif;
  /*font-size: 20px;*/
  /*letter-spacing: 1px;*/
  color: #444444;
}

.sign_up_small input {
  border: 0;
  /*width: 230px;
  height: 20px;
  padding: 5px;*/
/*  margin-top: 5px;
  margin-bottom: 5px;*/
  background: #fff;
  font-family: 'Pathway Gothic One', sans-serif;
  /*font-size: 10px;*/
  /*letter-spacing: 1px;*/
  color: #444444;
}

/*###################################*/

label {
  font-size: 1.4em;
  color: lightblue;
  cursor: pointer;
  display: block;
  font-weight: 500;
  margin-bottom: 0;
}

input.fish_button {
  width: 100%;
  height: 100%;
  background: orange;
}

