.banner_index_small {
  background-image:url('/nav_small.png');
  background-color: #59b5e6;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: relative;
}
 

.login_small input {
  border: 0;
  background: #28a2e5;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #dedfe1;
}

.sign_up_small input {
  border: 0;
  background: #28a2e5;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #dedfe1;
}


.login_small label,
.sign_up_small label {
  font-size: 1.4em;
  color: #dedfe1;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 0;
  letter-spacing: 19%;
  margin-top: -3%;
}


.sign_up_small input:focus,
.login_small input:focus {
  background: #1b94d6;
}


.login_small label {
  margin-bottom: -2%;
}

.login_small {
  margin-top: 15%;
}

.small_forms {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #e89b36;
  background: #59b5e6;
  margin-top: -7%;
}

.small_footer {
  width: 100%;
  height: 50px;
}

input.fish_button_small {
  margin-top: -2%;
  width: 100%;
  height: 1.7em;
  background: orange;
  font-size: 1.2em;
}

.sign_up_small input:last-child,
.login_small input:last-child {
  margin-top: -5%;
  height: 40px;
  color: #fff;
  font-size: 25px;
  opacity:0.7;
  filter:alpha(opacity=70); 
}

.sign_up_small input:last-child:hover,
.login_small input:last-child:hover {
 opacity:0.9;
  filter:alpha(opacity=90); 
}
