.nav {
  background-image: url('/pirate_views.png');
  background-repeat: no-repeat;
  background-color: #59b5e6;
  background-position: center;
  background-size: contain;
  padding-left: 1em;
  height: 5em;
  list-style: none;
  position: fixed;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid gray;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

.nav ul {
  float: right;
  padding-top: 1.5%;
  padding-right: 16%;
}

.nav li a{
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.5em;
  color: #424343;
}li a:hover {
  color: #232323;
}

.small.radius.button {
  margin-left: 9.5em;
  background-color: black;
  color: white;
  height: 100%;
}
