.nav {
  background-image: url('/pirate_views.png');
  background-repeat: no-repeat;
  background-color: #59b5e6;
  background-position: center;
  padding-left: 1em;
  height: 14%;
  list-style: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  border-bottom: 2px solid gray;
}

.nav ul {
  float: right;
  padding-top: 1%;
  padding-right: 16%;
}

.nav li a{
  color: #444444;
}

.nav li a:hover {
  color: #232323;
}

.small.secondary.button {
  margin-left: 9.5em;
}
