.sub_nav {  // This is the sub_navbar for pirates
  border: 2px solid black;
  height: 3.125em;
  background-color: #7274C4;
  margin-top: 1em;
  margin-left: 0.1em;

  .small.secondary.button {
    width: 100%;
  }
}


.treasures_on_sale {
  background-color: gray;
  border: 2px solid black;
  border-radius:25px;
  min-height: 39em;
  overflow: auto;

  #last {
    margin-bottom: 1.4em !important;
  }
  
  label {
    color: black;
    font-size: 1em;
  }

  ul {
    padding: 1em;

    li {
      color: black;
      // margin-bottom: 2.2em;
      font-weight: 500;

      :first-child {
        margin-top: 1.7em;
      }
    }
  }
}

form#new_pirate.new_pirate label {
  color: black;
}

ul.treasures_on_sale h1 {
  border-bottom: 4px solid black;
}

.profile_main { 
  height: 12.1em;
}


.sub_nav {
  padding: 0;
}

.username {
  border: 2px solid black;
}

.intro {
  border: 1px solid black;
  font-weight: 700;
  background-color: #7274C4;
  width: 100%;
  padding-left: 1em;
}
