.treasure_item {
  border: 2px solid black;
}
.tiny.button.alert.round {
  margin-top: 1em;
}

.row.box {
  height: 39em;
}

.new_treasure {
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

.treasure {
  border-top: 4px solid black;

  ul {
    min-height: 4em;
  }
}