// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.check_status,
.add_reward,
.add_task,
.add_event {
  border: 1px;
  background: #ccc;
  width: 250px;
  height: 250px;
  padding: auto;
  text-align: center;
  font-family: sans-serif;
}

.parent_admin td{
  padding: 10px;
}

