// // Place all the styles related to the user controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

// // .loot {
// //   width: 80%;
// //   margin: 0 auto;
// //   height: 400px;
// // }
* {
  border: 1px solid black
}


.captain_profile_treasures {
}

.captain_profile {
  
}

.treasure_item {
  height: 100px;
}

.captain_profile_pirates {
  height: 100px;
}
// .kids,
// .adventures {
//   height: 250px;
//   width: 300px;
// }

// .check_status,
// .add_task,
// .add_event {
//   border: 1px;
//   background: #ccc;
//   width: 250px;
//   height: 250px;
//   padding: auto;
//   text-align: center;
//   font-family: sans-serif;
// }

// .parent_admin td{
//   padding: 10px;
// }

