- treasure_board.each do |treasure|
  .large-3.columns.treasure_item
    = image_tag("/treasure_chest.png")
    %br

    .cost #{treasure.price} Doubloons 
    = button_to "Loot", edit_pirate_treasure_path(current_user, treasure), :remote => true, :class => 'delete_treasure'
  .large-1.columns
