#treasure_message
- treasures.first((Treasure::MAX)).each do |treasure|
  %ul.treasure
    %li #{treasure.name}
    %li #{treasure.description}
    / %li Photo: #{treasure.photo}
    %li #{number_with_delimiter(treasure.total_price, :delimiter => ',')} doubloons (+tax)
